[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
PyYAML = "*"
aioconsole = "*"
python-box = "*"
pre-commit = "*"
ujson = "*"
mpmath = "*"
"discord.py" = "*"
motor = "*"
aiohttp = ">=3.7.4"
cchardet = "*"
aiodns = "*"
async-timeout = "*"
tabulate = "*"

[dev-packages]

[requires]
python_version = "3.9"
