[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = "*"
pyyaml = "*"
aioconsole = "*"
aiosqlite = "*"
python-box = "*"

[dev-packages]

[requires]
python_version = "3.8"
